# ----- Python -----
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
env/
venv/
tf_env/
*.env
*.log

# ----- Django -----
staticfiles/
media/dataset/
media/tmp/
db.sqlite3

# ----- VS Code -----
.vscode/
*.code-workspace

# ----- OS files -----
Thumbs.db
.DS_Store

# ----- Cache -----
*.cache
*.pickle

# ----- ML Files -----
*.tflite
*.ckpt
*.checkpoint

# Allow trained model for proof
!gestures/ml/keras_model.h5
!gestures/ml/labels.txt

# Allow TF.js converted model
!static/model_tfjs/
